.navigation {
  @apply relative w-[400px] h-[60px] bg-white rounded-[10px] flex justify-center items-center text-black;
}

.navigation ul {
  @apply flex  items-center w-[350px]  bg-white;
}
.navigation ul li {
  position: relative;
  width: 70px;
  height: 50px;
  z-index: 2;
  cursor: pointer;
}
.navigation ul li a {
  @apply relative flex flex-col justify-center items-center text-center w-full font-[500] h-[50px];
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  /* height: 200px; */
  transition: 0.5s;
  font-size: 1.5em;
}
.navigation ul li:hover a .icon {
  transform: translateY(-32px);
}

.navigation ul li a .text {
  @apply absolute;
  opacity: 0;
  background-color: #2196f3;
  color: white;
  padding: 2px 7px;
  border-radius: 12px;
  font-size: 0.75em;
  font-weight: 400;
  transform: translateY(15px);
  transition: 0.5s;
}

.navigation ul li:hover a .text {
  opacity: 1;
  transform: translateY(0);
}
.navigation ul li.active a .icon {
  transform: translateY(-32px);
  color: #2196f3;
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(0);
}
.indicator {
  position: absolute;
  top: -35px;
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  z-index: 1;
  transition: 0.5s;
}
.indicator::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -27.4px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 18px #fff;
}
.indicator::after {
  content: '';
  position: absolute;
  top: 5px;
  right: -27.4px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -15px 18px #fff;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}
